* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    min-width: 400px;
    padding: 30px;
}

.glass {
    min-height: 350px;
    width: 390px;
    display: flex;
    position: relative;
    left: 1px;
}


/*DASHBOARD*/

.dashboard {
    width: 140px;
    position: relative;
}

.user h3 {
    display: none;
}

#avatar {
    width: 90px;
    height: 90px;
    position: relative;
}

#avatar:hover {
    width: 90px;
    height: 90px;
    border-style: solid;
    border-color: #565DED;
}

.social_logo {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
}

.link a {
    position: absolute;
    left: 13px;
    opacity: 0;
}


/*PROJECTS*/

.status {
    margin-bottom: 39px;
    position: relative;
    top: 18px;
    right: 50px;
}

.cards {
    position: relative;
    top: 3px;
    right: 55px;
}

.card img {
    opacity: 0;
}

.card:hover {
    transform: scale(1.05, 1.05);
}


/*ABOUT ME*/

.data {
    position: relative;
    top: 18px;
    right: 50px;
    width: 173.18px;
    height: 160.34px;
}

.data-card p {
    position: absolute;
    top: 25px;
    left: 2px;
    font-size: small;
    text-align: center;
}