/*BODY*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #ececec;
}

h2 {
    color: #565DED;
}

h3 {
    color: #565DED;
}

main {
    min-height: 875px;
    background: linear-gradient(to right top, #d6e7f6, #98a1b6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 700px;
    width: 1050px;
    background: linear-gradient(to right bottom, rgba(86, 93, 237, 0.7), rgba(52, 57, 156, 0.738));
    border-radius: 30px;
    backdrop-filter: blur(2rem);
    display: flex;
    z-index: 2;
    position: relative;
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(125, 152, 175, 0.3));
    height: 160px;
    width: 160px;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 5%;
    left: 15%;
}


/*DASHBOARD*/

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 30px;
}

.user h3 {
    margin: 16px;
}

#avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: ease-in 0.3s;
}

.info-avatar {
    position: absolute;
    top: 50px;
    left: 65px;
    opacity: 0;
    background-color: white;
    border-radius: 30px;
    display: none;
}

#avatar:hover {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #565DED;
    transition: ease 0.5s;
}

.social_logo {
    width: 30px;
    height: 30px;
}

.link {
    display: flex;
    margin: 32px 0;
    padding: 16px 80px;
    align-items: center;
}

.link a {
    color: #565DED;
    padding: 0rem 2rem;
    text-decoration: none;
}


/*PROJECTS*/

.status {
    margin-bottom: 48px;
}

.projects,
.info {
    flex: 2;
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card,
.data {
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 16px;
    margin: 32px 0;
    padding: 32px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
    transition: ease-in 0.3s;
}

.card:hover,
.data:hover {
    transform: scale(1.05, 1.05);
    transition: ease 0.5s;
}

.card-info,
.data-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}